.DescriptionAll>p{
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .DescriptionAll>p{
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .DescriptionAll>p{
        font-size: 9px;
    }
}