.Overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal__content {
  background: white;
  width: 50rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  padding: 15px;
  display: flex;
  border-radius: 1%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
}

.ModalRefImg {
  display: flex;
  align-items: center;
  align-content: center;
}

.ModalImg{
  max-width: 250px;
  height: auto;
  object-fit: contain;
}

.List_modal{
  width: 60%;
  padding-left: 15px;
}

.List_modal > li {
  font-size: 14px;
  padding: 2px;
  word-wrap: break-word
}

.BtnClose {
  position: absolute !important;
  margin: 10px !important;
  top: 1%;
  right: 1%;
}

@media screen and (max-width: 768px) {
  .Modal__content{
    flex-direction: column;
  }

  .ModalRefImg{
    justify-content: center;
    padding: 5px;
  }

  .ModalImg{
    max-width: 200px;
    border-radius: 5%;
  }

  .List_modal{
    width: auto;
  }

  .List_modal > li {
  font-size: 12px;
}
}

@media screen and (max-width: 480px) {
  .ModalImg{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  .List_modal > li {
    font-size: 10px;
  }
}