.footerContainer {
  margin: 10px;
}

.footerTitle {
  padding: 10px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
}

.footerText {
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.contactList {
  display: flex;
  padding: 10px;
}

.item{
    width: calc(100%/4);
    padding: 10px;
}


.textItem{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  word-wrap: break-word;
}

.listSite{
    display: flex;
    justify-content: space-evenly;
}

.link>span{
    display: none;
}

.copyright{
padding: 15px 25px;
border-top: 1px solid black;

font-weight: 700;
font-size: 13px;
line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .contactList{
    flex-direction: column;
    
  }

  .item{
    width: auto;
  }

  .listSite{
    justify-content: flex-start;
  }

  .listSite>li{
    padding: 5px 10px;
  }

  .footerTitle {
    font-size: 16px;
  }
  
  .footerText {
    font-size: 14px;
  }

  .textItem{
    font-size: 12px;
  }

  .copyright{
    font-size: 11px;
    }
}


